# Champion Classifier:
- match image data with excel file of champion labels
- background images
- VGG structure

- annotations_file (CSV)
    - file_name, one_hot_encoding_champion 

- img_dir (Path)
    - path that contains all the image

In [132]:
# Packages
import numpy as np
import pandas as pd
import os
import shutil #copy and paste files
import re

### Read data

In [138]:
df = pd.read_excel('data/Champions_Label.xlsx')
master_champ_df = pd.read_excel('data/champion_list_master_dataset.xlsx')

columns = ['YouTuber', 'Video', 'Name', 'Filename', 'Champ']

### Clean data

In [139]:
# Drop the nan rows and ? rows
master_champ_list = master_champ_df.champion.unique().tolist()

In [140]:
# Remove all NA values
df = df[~df.Champ.isna()]

# Keep relevant columns
df = df.loc[:, columns]

# Check if names are all correct
df[~df.Champ.isin(master_champ_list)]

Empty DataFrame
Columns: [YouTuber, Video, Name, Filename, Champ]
Index: []

In [141]:
# One hot encoding of champions
champion_df = df.Champ.copy()
champion_df = champion_df.apply(lambda x: master_champ_list.index(x))

df['Champ_onehot'] = champion_df

### Move all relevant images to data

In [150]:
final_data_path = os.path.join(os.getcwd(), 'data', 'champion-classifier')

if not os.path.exists(final_data_path):
    os.makedirs(final_data_path)

image_name_list = []


for i in range(len(df)):
    image_name = f'image_{i}.jpg'
    row = df.iloc[i, :]
    path_to_img = os.path.join(os.getcwd(), 'contents', row.YouTuber, row.Video, re.sub(r'.jpg', '', row.Name), re.sub(r'.jpg', '', row.Filename)+'.png')
    path_to_final_img = os.path.join(final_data_path, image_name)
    image_name_list.append(image_name)
    shutil.copyfile(path_to_img, path_to_final_img)

df['image_name'] = image_name_list

In [161]:
annotation_file = df.loc[:, ['image_name', 'Champ_onehot', 'Champ']]
annotation_file

           image_name  Champ_onehot    Champ
1         image_0.jpg            23  Warwick
2         image_1.jpg            74    Taric
3         image_2.jpg             2  Camille
22        image_3.jpg            22    Talon
26        image_4.jpg            73    Shaco
...               ...           ...      ...
217931  image_799.jpg            35    Senna
217932  image_800.jpg            46  Orianna
217941  image_801.jpg            34  Morgana
217948  image_802.jpg             3   Darius
217950  image_803.jpg            41    Braum

[804 rows x 3 columns]

In [160]:
final_data_path

'/Users/mgw/Desktop/CS686_Project/teamfight-tactics-ai/data/champion-classifier'